.footer {
  background-color: var(--color-primary-red);
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  box-shadow: 0 -3px 5px rgba(0,0,0, 0.3);
  font-size: 11px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: white;
}

@media (max-width: 1024px) {
  .footer {
    height: auto;
    padding: 30px 0;
  }

  .footer__container {
    flex-direction: column;
    text-align: center;
  }
}
