.grid {
  display: grid;
  --grid-size: 12;
  --grid-column-gap: 24px;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-column-gap: var(--grid-column-gap);
}

.grid__col {
  --cols: 1;
  grid-column-end: span var(--cols);
}

@media (max-width: 1024px) {
  .grid__col {
    grid-column-end: span 12;
  }
}
