:root {
	--10am--color-brand: #e84917;
	---10am--color-brand-secondary: #333;
	--10am--text-color: #666;
	--content-width: 1400px;
	--section-space: 100px;
	--section-space-mobile: 50px;
	--btn-bg-color: var(--10am--color-brand);
	--btn-hover-bg-color: white;
	--btn-text-color: white;
	--btn-hover-text-color: var(--10am--text-color);
	--btn-hover-border: 2px solid var(--10am--color-brand);
	--btn-filled-bg-color: white;
	--btn-filled-text-color: black;
	--btn-filled-hover-bg-color: #EEE;
	--10am-ptn-s-primary-title-color: #44382D;
	--10am-ptn-s-primary-text-color: var(--10am--text-color);
	--10am-ptn-s-primary-contrast-background: var(--10am--color-brand);
	--10am-ptn-s-primary-contrast-text-color: white;
	--10am-ptn-s-highlight-title-color: white;
	--10am-ptn-s-highlight-text-color: white;
	--10am-ptn-s-highlight-background: var(--10am--color-brand);
}
/* hack to force our way into a site editor */
.wp-block-INCLUDE_ME {
  color: red;
}