.tooltip {
  /*width: 400px;*/
}

.tooltip__crimes {
  display: flex;
  flex-direction: column;
}

.tooltip__crime {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tooltip__crime:nth-child(2n - 1) {
  margin-right: 10px;
}

.tooltip__crime-name {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
