
:root {
  --primary-red-color: #e84917;
  --primary-green-color: #35CB72;

  --landing-black-color: #44382D;
  --landing-grey-color: #776E68;

  --landing-light-grey-color: #97918C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.7em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.3em;
}

a {
  color: var(--primary-red-color);
}


html, body {
  padding: 0;
  margin: 0;
  background: white;
}

:root {
  --content-max-width: 1280px;
  --padding-width: 160px;

  --color-primary-red: #cc0000;

  color: #111;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: var(--content-max-width);
  width: calc(100% - var(--padding-width) * 2);
  margin: 0 auto;

}

.page-content {
  flex-grow: 1;
  padding: 30px 0;
}

@media (max-width: 1024px) {
  :root {
    --padding-width: 20px;
  }
}

:root {
  --landing-max-width: 1200px;
  --landing-padding-width: 40px;
  --landing-container-width: min(var(--landing-max-width), 100vw - var(--landing-padding-width) * 2);
  --landing-side-width: calc((100vw - var(--landing-container-width)) / 2);
}

.landing-container {
  /*max-width: var(--landing-max-width);
  width: calc(100% - var(--landing-padding-width) * 2);*/
  width: var(--landing-container-width);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  :root {
    --landing-padding-width: 20px;
  }
}

.margin--no-bottom {
  margin-bottom: 0;
}


.grid {
  display: grid;
  --grid-size: 12;
  --grid-column-gap: 24px;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-column-gap: var(--grid-column-gap);
}

.grid__col, .grid > * {
  --cols: 1;
  grid-column-end: span var(--cols);
}

@media (max-width: 1024px) {
  .grid {
    row-gap: 20px;
  }

  .grid__col, .grid > * {
    grid-column-end: span 12;
  }
}

.wp-block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.wp-block-button__link {
  padding: 0.3em 1.3em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0;
  border-radius: 2px;
  height: 30px;
  padding: 0 10px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
  text-align: center;
}

.btn--red {
  background-color: var(--primary-red-color);
  color: white;
  box-shadow: none;
}

.btn--green {
  background-color: var(--primary-green-color);
  color: white;
  box-shadow: none;
}

.btn--inline {
  display: inline-flex;
}


.input {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  border: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  background-color: white;
  border-radius: 2px;
  padding: 0 15px;
  color: #111;
  font-size: 16px;
}


.img--shadow-border {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1),0 0 6px 0 rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.15);
}

/* Header & Footer */
.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: white;
  color: var(--color-primary-red);
  box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  color: var(--color-primary-red);
  text-decoration: none;

  font-weight: bold;
  font-size: 24px;
}

.header__logo-img,
.header__logo svg {
  width: 225px; 
}

.header__menu {
  display: flex;
}

.header__menu-item {
  color: var(--color-primary-red);
  text-decoration: none;
}

.header__menu-item:not(:last-child) {
  margin-right: 35px;
}

.header__menu-item--active,
.header__menu-item:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .header {
    height: auto;
    padding-top: 20px;
  }

  .header__container {
    flex-direction: column;
  }

  .header__menu-item {
    padding: 10px 0;
  }

  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

.landing-header {
  background-color: #f5f5f5;
}

.landing-header__box {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  height: 86px;
  padding-bottom: 55px;
}

.landing-header__logo {
  width: 225px;
}

.footer {
  background-color: var(--color-primary-red);
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  box-shadow: 0 -3px 5px rgba(0,0,0, 0.3);
  font-size: 11px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: white;
}

@media (max-width: 1024px) {
  .footer {
    height: auto;
    padding: 30px 0;
  }

  .footer__container {
    flex-direction: column;
    text-align: center;
  }
}

.landing-footer {
  margin-top: 45px;
  border-top: 1px solid #eee;
  color: #97918C;
  font-size: 19px;
  letter-spacing: -0.02em;
}

.landing-footer__box {
  display: flex;
  align-items: center;
  height: 100px;
}

.posts-list__item {
  display: flex;
  padding: 15px 0;
  margin-bottom: 30px;
}

.posts-list__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.posts-list__item-img-box {
  display: block;
  position: relative;
  width: 360px;
  max-width: 100%;
  min-height: 270px;
  margin-right: 20px;
  flex-shrink: 0;
}

.posts-list__item-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
}

.post-list--row .posts-list__item-img-box {
  margin-bottom: 8px;
}

.posts-list__item-excerpt:empty {
  display: none;
}

.posts-list__item-descr {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1024px) {
  .posts-list__item {
    flex-direction: column;
  }

  .posts-list__item-img-box {
    height: 180px;
  }
}

.landing-prime {
  position: relative;
  color: var(--landing-black-color);
  font-size: 19px;
  line-height: 155.19%;
  letter-spacing: -0.02em;
}

.landing-prime__box {
  position: relative;
}

.landing-prime__top-btn {
  display: block;
  width: 223px;
  margin-bottom: 19px; 
  font-size: 12px;
  letter-spacing: 0.03em;
}

.landing-prime__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 119.69%;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.landing-prime__intro {
  font-size: 22px;
  line-height: 131.19%;
  color: var(--landing-grey-color);
  margin-bottom: 30px;
}

.landing-prime__form {
  margin-bottom: 11px;
}

.landing-prime__form-help {
  color: var(--landing-light-grey-color);
}

.landing-prime__corner {
  position: absolute;
  left: 0; bottom: 0;
  --sin: 0.13; /* 7.5deg */
  width: 100%; height: calc(var(--landing-container-width) * var(--sin));

  --width: calc(var(--landing-container-width) + var(--landing-side-width));
  --height: calc(var(--width) * var(--sin));
}

.landing-prime__background {
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%);
  width: 100vw; height: 100%;
  background-color: #f5f5f5;
}

.landing-prime__corner-main {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.landing-prime__corner-line::before,
.landing-prime__corner-line::after,
.landing-prime__corner-main::before,
.landing-prime__corner-main::after {
  content: '';
  position: absolute;
  display: block;
  width: var(--width); height: var(--height);
}

.landing-prime__corner-main::before {
  bottom: 0; left: 0;
  background-color: white;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.landing-prime__corner-main::after {
  top: 0; right: 0;
  background-color: #f5f5f5;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.landing-prime__corner-line::before {
  bottom: 0; left: 0;
  background-color: #eee;
  clip-path: polygon(0% calc(100% - 2px), 100% 0%, 100% 2px, 0% 100%);
}

.landing-prime__corner-line::after {
  top: 0; right: 0;
  background-color: #eee;
  clip-path: polygon(100% 0%, 100% 2px, 0% 100%, 0 calc(100% - 2px));
}

.landing-prime__form-box {
  display: flex;
}

.landing-prime__form-box--multiline {
  flex-direction: column;
  row-gap: 10px;
}

.landing-prime__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.landing-prime__input {
  height: 54px;
  line-height: 54px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 18px;
  color: var(--landing-black-color);
  font-size: 17px;
  margin-right: 7px;
}

.landing-prime__form .landing-prime__input {
  margin-right: 0;
}

.landing-prime__input--textarea {
  height: 162px;
  line-height: 1.5em;
  padding: 15px;
  resize: none;
}

.landing-prime__form-box--multiline .landing-prime__input {
  margin-right: 0;
}

.landing-prime__input::placeholder {
  color: #AAA;
}

.landing-prime__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  padding: 0 20px;
  background-color: var(--primary-red-color);
  border-radius: 5px;
  border: 1px solid var(--primary-red-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.landing-prime__btn:hover {
  background-color: transparent;
  color: var(--primary-red-color);
}

.landing-prime__form-error {
  color: var(--primary-red-color);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .landing-prime__form-box {
    flex-direction: column;
  }

  .landing-prime__input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.serverless-submit__success:not(:empty) + .serverless-submit {
  display: none;
}

.landing-text {
  color: var(--landing-black-color);
  padding-top: 56px;
  padding-bottom: 63px;
  line-height: 155.19%;
  letter-spacing: -0.02em;
  text-align: center;
}

.landing-text__title {
  margin-bottom: 17px;
}

.landing-text__text {
  color: var(--landing-light-grey-color); 
}

.landing-columns {
  --cols: 4;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  column-gap: 55px;
  row-gap: 20px;
  margin-bottom: 40px;
}

.landing-column__title {
  display: flex;
  align-items: center;
  color: var(--landing-black-color);
  font-size: 25px;
  letter-spacing: initial;
  margin: 0 0 23px;
}

.landing-column__title svg {
  color: var(--primary-red-color);
  margin-right: 19px;
  margin-bottom: 2px;
}

.landing-column__text {
  color: var(--landing-grey-color);
}

@media (max-width: 1024px) {
  .landing-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*.landing-background {
  --height: 672px;
  width: 100%; height: var(--height);
  margin-bottom: calc(var(--height) * -1);
  background-color: red;
}*/

.singular-page {
  max-width: 650px;
  margin: 0 auto;
}

.singular-page__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.singular-page__image-box {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 5px;
}

.singular-page__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.singular-page__meta-author {
  display: flex;
  align-items: center;
}

.singular-page__meta-avatar {
  border-radius: 50%;
  margin-right: 15px;
}

.singular-page > p:first-of-type {
  font-size: 22px;
}

.singular-page__comments {
  margin-top: 50px;
}

.singular-page__related-posts-title {
  margin-top: 60px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .singular-page__image-box {
    width: 100vw;
    margin-left: -20px;
  }
}

.suburb-profile__crime {
  display: flex;
  justify-content: space-between;
}

.suburb-profile__crime:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.suburb-profile__border-suburbs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.suburb-profile__chart {
  width: 100%; height: 500px;
  max-width: 960px; 
  margin: 0 auto;
}

.suburb-profile__chart svg {
  width: 100%; height: 100%;
}

.suburb-profile__chart path.slice{
  stroke-width:2px;
  stroke: white;
}

.suburb-profile__chart .text {
  font-size: 14px;
}

.suburb-profile__chart polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

@media (max-width: 1023px) {
  .suburb-profile__map-col {
    order: 1;
  }
}
