.LayerSwitch {
  position: absolute;
  bottom: 20px; left: 55px;
  z-index: 1000;
}

.LayerSwitch__toggle-btn {
  font-size: 16px;
}

.LayerSwitch__toggle-val {
  text-transform: capitalize;
  display: inline-block;
  margin-left: 5px;
}

.LayerSwitch__toggle-icon {
  margin-right: 5px;
}

.LayerSwitch__option-box {
  display: none;
  position: absolute;
  bottom: calc(100% + 5px); left: 0;
  width: 200px;
  font-size: 16px;
}

.LayerSwitch--active .LayerSwitch__option-box {
  display: block;
}

.LayerSwitch__option-btn {
  display: flex;
  width: 100%; height: 25px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.LayerSwitch__option-btn:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.LayerSwitch__option-btn--active {
  background-color: var(--primary-red-color);
  color: white;
  font-weight: bold;
}
