.Legend {
  position: absolute;
  bottom: 20px; left: 10px;
  z-index: 1001;
}

.Legend__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px; height: 35px;
  background-color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0, 0.65);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.Legend__el--hidden {
  display: none;
}

.Legend__close-btn {
  position: absolute;
  top: 6px; right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px; height: 16px;
  background-color: var(--primary-red-color);
  border-radius: 2px;
  color: white;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.Legend__content {
  position: relative;
  width: 160px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0, 0.65);
  padding: 6px;
  font-size: 12px;
}

.Legend__title {
  font-size: inherit;
  font-weight: bold;
  margin: 0 0 12px;
}

.Legend__sub-title {
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline;
  margin: 0;
}

.Legend p {
  color: #555;
  margin: 0 0 10px;
}

.Legend__ranks {
  margin-bottom: 10px;
}

.Legend__rank {
  display: flex;
  align-items: center ;
}

.Legend__rank:not(:last-child) {
  margin-bottom: 5px;
}

.Legend__rank::before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 16px; height: 16px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.Legend__rank--red::before {
  border-color: red;
  background-color: red;
  opacity: 0.65;
}

