.SuburbQuickView {
  position: fixed;
  top: 10px; right: 10px;
  z-index: 1000;

  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  background-color: white;
  color: #111;
  font-size: 14px;
  text-decoration: none;

  opacity: 0;
  pointer-events: none;
}

.SuburbQuickView--visible {
  opacity: 1;
  pointer-events: auto;
}

.SuburbQuickView__crime-rank {
  font-weight: bold;
  margin-bottom: 5px;
}

.SuburbQuickView__line {
  display: flex;
  justify-content: space-between;
}

.SuburbQuickView__stats-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 5px;
}

.SuburbQuickView__crimes {
  display: flex;
  flex-direction: column;
}

.SuburbQuickView__crime {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 3px;
}

.SuburbQuickView__crime:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.SuburbQuickView__crime:nth-child(2n - 1) {
  margin-right: 10px;
}

.SuburbQuickView__crime-name {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SuburbQuickView__profile-notice {
  display: none;
  padding-top: 4px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
}

@media (max-width: 768px) {
  .SuburbQuickView {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 20px);
    font-size: 12px;
  }

  .SuburbQuickView__meta-container {
    width: 125px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .SuburbQuickView__line {
    flex-direction: column;
  }

  .SuburbQuickView__stats-container {
    margin-top: 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: calc(100% - 125px);
  }

  .SuburbQuickView__crime {
    margin: 0;
    padding: 0;
  }

  .SuburbQuickView__crime:nth-child(n + 4) {
     display: none;
  }

  .SuburbQuickView__crime-name {
    white-space: nowrap;
  }

  .SuburbQuickView__profile-notice {
    display: block;
  }
}

@media (max-width: 768px) and (min-height: 400px) {
  .SuburbQuickView {
    top: 70px;
  }
}
